# Virtual environment
.venv/

# Spatial data and GIS sidecar files
*.geojson
*.gpkp
*.dbf
*.prj
*.shp
*.shx
*.gpkg

# Data formats (handles case sensitivity like CSV/csv)
*.[cC][sS][vV]
*.parquet
*.json
*.xml
# Python cache
__pycache__/
*.pyc
